@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#f9d806;
    --soukaina:#8D7B68;
    --amira:#F1DEC9;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

div{
    display: block;
}

.header{
    color: var( --soukaina);
    background-color: #fff;
    box-shadow:0 0 1rem;
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}

.header .logo{
    font-size: 2rem;
    color:var( --soukaina);
    font-weight: bold;
}

.header .logo span{
    color:var( --soukaina);
}

.header .navbar-nav a{
    margin:0 1rem;
    font-size: 1.1rem;
    color:var(--black);
}

.header .navbar-nav a:hover{
    color:var(--yellow);
}

.container h3{
    margin-top: 6rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-size: 10.5vh;
    font-weight: 900;
    -webkit-text-stroke: .3vh var( --soukaina);
    color: black;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(.1rem,.2fr));
    background: #eee;
    column-gap: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icons-container .icon{
    background:#fff;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
}

.icons-container .icon i{
    background:#eee ;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 49%;
}

.icons-container .icon .content h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--yellow);
}

.icons-container .icon .content p{
    font-size: .7rem;
    font-weight: bold;
    color: var(--black);
}

.icons-container .icon:hover{
    background:var(--black);
}

.icons-container .icon:hover i{
    background:var(--yellow);
}

.icons-container .icon:hover .content h3{
    color:#fff;
}

.icons-container .icon:hover .content p{
    color:#eee;
}

h2{
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: 30px 0 60px;
}

h2::after{
    content:"";
    width: 140px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background-color: #db584e;
    left: 0;
    right: 0;
    bottom: -10px;
    opacity: .8;
}

.carousel .overview b{
    text-transform: uppercase;
    color: #db584e;
}

#map {
    height: 400px;
    width: 100%;
}
